/*
              SPACING SYSTEM (px)
              2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

              FONT SIZE SYSTEM (px)
              10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
              */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff4e6;
  color: #343a40;
  font-size: 24px;
}

::-moz-selection {
  /* Code for Firefox */
  color: #fff4e6;
  background: #9c4f0b;
}

::selection {
  color: #fff4e6;
  background: #da7218;
}

header {
  height: 450px;
  position: relative;

  background-image: linear-gradient(
      rgba(39, 39, 39, 0.767),
      rgba(39, 39, 39, 0.198)
    ),
    url(images/r-kashta-2.jpg);
  background-size: cover;
  background-position: center;
  color: #fff4e6;
}

nav {
  background: rgba(226, 112, 6, 0.774);
  background: linear-gradient(
    to bottom,
    rgba(202, 105, 14, 0.787) 0%,
    rgba(143, 76, 14, 0.705) 80%,
    rgba(138, 75, 16, 0.787) 100%
  );
  width: 100%;
}

.nav-container {
  max-width: 724px;
  margin: 0 auto;
  padding: 8px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-links-container {
  display: flex;
  gap: 18px;
  align-items: center;
}

.nav-link:link,
.nav-link:visited {
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
  text-decoration: none;
  display: inline-block;
  transition: color 200ms ease;
}

.nav-link:hover,
.nav-link:active {
  color: #ffe8cc;
}

.nav-link.nav-link--bold {
  margin-right: 48px;
  font-weight: 700;
}

.logo {
  height: 48px;
}

header h1 {
  margin: 80px auto;
  max-width: 724px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.513);
}

/* INTRO SECTION */
section {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 96px;
}

h3 {
  font-size: 24px;
  margin-bottom: 24px;
  line-height: 1.05;
}

.intro-testimonial {
  width: 1000px;
  margin: 0 auto;
  margin-top: 48px;
  padding: 32px 32px 32px 48px;
  background-color: #9c4f0b;
  color: #fff4e6;
  border-radius: 12px;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.308);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 54px;
}

.intro-testimonial h3 {
  color: #ffe8cc;
}

img {
  border-radius: 12px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

/* MAIN SECTIONS */
.testimonial-flexbox {
  display: flex;
  align-items: center;
  gap: 96px;
}

.testimonial-1 {
  padding-top: 220px;
}

.testimonials img {
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.308);
}

/* ORANGE SECTION */
.testimonial-orange {
  background-color: #9c4f0b;
  width: 100%;
  padding: 32px;
  margin-bottom: 96px;
}

.testimonial-orange-container {
  width: 1200px;
  margin: 0 auto;
  color: #fff4e6;
}

.testimonial-orange-container h3 {
  margin-top: 16px;
  color: #ffe8cc;
}

.grid-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 32px;
}

.grid-img-container img {
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.308);
}

footer {
  font-size: 12px;
  color: #868e96;
  text-align: center;
  margin-bottom: 24px;
}

/* ////////////////////////////////// *
/* HOTELS PAGE */
.hotels {
  display: grid;
  column-gap: 48px;
  row-gap: 64px;
  grid-template-columns: 1fr 1fr;
}

.hotel {
  display: flex;
  flex-grow: 1;
  gap: 24px;
}

.hotel img {
  display: block;
  max-width: 320px;
  aspect-ratio: 4/3;
  object-fit: cover;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.308);
}

.hotel-details-price {
  display: block;
  font-size: 20px;
  margin-bottom: 14px;
}

.hotel-details-price em {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
}

.accentBtn:link,
.accentBtn:visited {
  font-size: 16px;
  font-weight: 600;
  background-color: #9c4f0b;
  color: #fff4e6;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  transition: background-color 200ms ease;
}

.accentBtn:hover {
  background-color: #b85f11;
}

/* Form section */
.form-section-inner-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 12px;

  background-image: linear-gradient(to right, rgb(139, 72, 13), rgb(50, 26, 6));
  color: #fff4e6;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.308);
  overflow: hidden;
}

.form-text-box {
  padding: 48px 64px;
}

.form-img-box {
  background-image: linear-gradient(
      to left,
      rgba(139, 72, 13, 0.65),
      rgba(50, 26, 6, 0.65)
    ),
    url(images/hotel-lux-apart.jpg);
  background-size: cover;
  background-position: center;
}

.form label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}

.form input,
.form select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fff4e6;
  color: #3c1f07;
  border-radius: 9px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

.form input:disabled {
  background-color: #e6dccf;
}

.form input::placeholder {
  color: #3c1f07aa;
}

.form *:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.527);
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.reservation-form {
  column-gap: 32px;
  row-gap: 24px;
}

.reservation-form .reservation-form-btn {
  cursor: pointer;
  color: #fff4e6;
  background: linear-gradient(120deg, #fb7b0b, #b85f11, #fb7b0b);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: all 0.5s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.reservation-form-btn:hover {
  background-position: 0 0;
  filter: brightness(1.05);
}

/* FORM SUMMARY */
.form-summary {
  display: none;
  margin-bottom: 24px;
}

.form-summary-inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 20px;
  row-gap: 12px;
}

.form-summary-inner span {
  font-weight: 600;
}

.form-disclaimer {
  display: none;
  margin-bottom: 24px;
}

/* PAYMENT FORM */

.payment-form {
  display: none;
  column-gap: 32px;
  row-gap: 24px;
}

.payment-form-expiry-cvv {
  display: flex;
  gap: 32px;
}

.payment-form .pay-btn {
  align-self: end;
  cursor: pointer;
  color: #fff4e6;
  background: linear-gradient(120deg, rgba(15, 85, 48, 1) 0%, rgb(111, 159, 8));
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: all 0.5s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.pay-btn:hover {
  background-position: 0 0;
  filter: brightness(1.05);
}

/* DISPLAY CONFIRMATION */
.confirm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm-icon {
  display: block;
  height: 128px;
  margin-bottom: 32px;
}

.confirm-title {
  margin-bottom: 28px;
}

.confirm-subtitle {
  font-weight: 400;
  margin-bottom: 32px;
}

.reserve-again-btn:link,
.reserve-again-btn:visited {
  font-size: 18px;
  padding: 12px 24px;
  color: #fff4e6;
  border-radius: 9px;
  text-decoration: none;

  background: linear-gradient(120deg, #fb7b0b, #b85f11, #fb7b0b);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: all 0.5s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.reserve-again-btn:hover {
  background-position: 0 0;
  filter: brightness(1.05);
}
